* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  height: 100vh;
  background: url("mobile-bg.PNG") no-repeat center center;
  background-size: cover;
  position: relative;
  color: #5a4634;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* лёгкое затемнение для читаемости текста */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 248, 235, 0.3);
  backdrop-filter: blur(1px);
  z-index: 0;
}

header {
  text-align: center;
  padding-top: 40px;
  z-index: 1;
}

h1 {
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 2px;
}

nav {
  z-index: 1;
  padding-left: 40px;
  margin-top: 40px;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 25px;
}

nav a {
  text-decoration: none;
  color: #5a4634;
  font-size: 24px;
  transition: 0.3s ease;
}

nav a:hover {
  opacity: 0.6;
}

footer {
  text-align: center;
  padding-bottom: 25px;
  font-size: 14px;
  z-index: 1;
}
